
img.header-image {
    padding: 13px;
};
span.header-text {
    color: black;
};
img.header-image {
    padding: 18px;
    padding-bottom: 11px;

}
nav.navbar.navbar-expand-sm.bg-info.navbar-dark {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}