<nav class="navbar navbar-expand-sm bg-info navbar-dark"  id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                    <img class="header-image" src="assets/Qheader.png" alt="" height="49px">
            </div>

    
          <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                        <li routerLinkActive="active" *ngIf="isAuthenticated" ><a routerLink="/dashboard"> DashBoard </a></li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a  routerLink="/approvals">Approvals </a></li>
                        <li routerLinkActive="active" *ngIf="isAuthenticated"><a  routerLink="/payShare">Pay Share</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><!-- <span class="header-text">{{userInfo.userName}}</span> -->
                        <span class="navbar-brand">{{userInfo.userName}}</span>
                    </li>
                    <li routerLinkActive="active">
                        <a style="cursor: pointer;" (click)="logout()"><span class="header-text">Logout</span></a>
                    </li>

        </ul>
            </div> 
        </div>
    </nav>



    
